/* Content panel */

.content-panel {
    padding: 30px;
    border-radius: 0.25rem;
}

.forgot-password {
    line-height: 2rem;
}

/* Custom radios */

.form-check {
    display: block;
    min-height: 2rem;
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;
}

.form-check-input {
    margin-top: 0px;
}

.form-check-input[type=checkbox] {
    border-radius: 0.25em;
    height: 2em;
    width: 2em;
    margin-right: 0.5rem;
    cursor: pointer;
}

.form-check-input[type=radio] {
    border-radius: 50%;
    height: 2em;
    width: 2em;
    margin-right: 0.5rem;
    cursor: pointer;
}

label.form-check-label {
    line-height: 2rem;
    cursor: pointer;
}

.radio-help {
    margin-left: 1rem;
    margin-top: 0px;
    margin-bottom: 1rem;
}

/* Breadcrumbs */

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.75rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: 0.75rem;
    color: #6c757d;
    position: relative;
    top: -1px;
}

/* Member profile */

.member-profile-header {
    display: flex;
    flex-direction: row;
    align-items: center!important;
}

.member-profile-image {
    float: left;
    height: 100%;
    margin-right: 1rem;
}

.member-profile-image img {
    height: 90px;
    width: 90px;
}

.member-profile-name {
   float: left;
}

.member-profile-name p {
    margin-bottom: 0px;
}