/* Content panel */

.content-panel {
    padding: 30px;
    border-radius: 0.25rem;
}

.forgot-password {
    line-height: 2rem;
}

/* Custom radios */

.form-check {
    display: block;
    min-height: 2rem;
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;
}

.form-check-input {
    margin-top: 0px;
}

.form-check-input[type=checkbox] {
    border-radius: 0.25em;
    height: 2em;
    width: 2em;
    margin-right: 0.5rem;
    cursor: pointer;
}

.form-check-input[type=radio] {
    border-radius: 50%;
    height: 2em;
    width: 2em;
    margin-right: 0.5rem;
    cursor: pointer;
}

label.form-check-label {
    line-height: 2rem;
    cursor: pointer;
}

.radio-help {
    margin-left: 1rem;
    margin-top: 0px;
    margin-bottom: 1rem;
}

/* Breadcrumbs */

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.75rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: 0.75rem;
    color: #6c757d;
    position: relative;
    top: -1px;
}

/* Member profile */

.member-profile-header {
    display: flex;
    flex-direction: row;
    align-items: center!important;
}

.member-profile-image {
    float: left;
    height: 100%;
    margin-right: 1rem;
}

.member-profile-image img {
    height: 90px;
    width: 90px;
}

.member-profile-name {
   float: left;
}

.member-profile-name p {
    margin-bottom: 0px;
}

/* Timeline */

.timeline {
	width: 100%
}

.timeline.belt-timeline .timeline-item {
	position: relative;
	width: 100%;
	padding-bottom: 1.5rem;
	padding-left: 1.5rem;
	text-align: left;
    color: #999;
}

.timeline.belt-timeline .timeline-item:last-of-type {
	padding-bottom: 0;
}

.timeline.belt-timeline .timeline-item:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
	margin-top: .425rem;
	margin-left: -.5rem;
	border: .0625rem solid #dce6f3;
	border-radius: 50%;
}

.timeline.belt-timeline .timeline-item.belt-achieved {
    color: #212529;
}

.timeline.belt-timeline .timeline-item.belt-achieved:before {
    border: .0625rem solid green;
    background-color: green;
}

.timeline.belt-timeline .timeline-item:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: -.1875rem;
	width: .0625rem;
	margin-top: 1.875rem;
	margin-left: -.0625rem;
	background-color: #dce6f3;
}

.timeline.belt-timeline .timeline-item:last-of-type:after {
	content: none;
	background-color: transparent;
}